html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: #eee;
}

/* main page */

.list-books-content {
  padding: 130px 0 30px;
  flex: 1;
}

/* search page */

.bottom-button {
  position: fixed !important; // override material style
  bottom: 30px;
  right: 30px;
}

