html, body, .root {
  height: 100%; }

body {
  line-height: 1.5; }

body, .app {
  background: #eee; }

/* main page */
.list-books-content {
  padding: 130px 0 30px;
  flex: 1; }

/* search page */
.search-books-results {
  padding: 150px 10px 20px; }

.bottom-button {
  position: fixed !important;
  bottom: 30px;
  right: 30px; }
