.book {
  display: flex;
  height: 100%; }
  .book__cover {
    object-fit: cover;
    object-position: top;
    flex: 0.5;
    background: #eee; }
  .book__authors {
    color: #999;
    padding-top: 10px;
    font-size: 0.8em; }
  .book__description {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
    @media (max-width: 1366px) {
      .book__description h2 {
        font-size: 1.2em;
        line-height: 1.2;
        margin-bottom: 0.1em; }
      .book__description h3 {
        font-size: 0.9em; }
      .book__description p {
        font-size: 0.8em; } }
    .book__description__buttons {
      width: 100%;
      justify-content: flex-end; }
      .book__description__buttons button {
        font-size: 12px; }
