.book {
  display: flex;
  height: 100%;
  position: relative;

  &__current-shelf {
    position: absolute;
    background: #303f9f;
    transform: rotate(35deg);
    width: 110px;
    top: 11px;
    right: -22px;
    color: #fff;
    text-align: center;
    border: 1px solid #444;
    font-size: 14px;
  }

  &__cover {
    object-fit: cover;
    object-position: top;
    flex: 0.5;
    background: #eee;
  }

  &__authors {
    color: #999;
    padding-top: 10px;
    font-size: 0.8em;
  }

  &__description {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 1366px) {
      h2 {
        font-size: 1.2em;
        line-height: 1.2;
        margin-bottom: 0.1em;
      }

      h3 {
        font-size: 0.9em;
      }

      p {
        font-size: 0.8em;
      }
    }
    &__buttons {
      width: 100%;
      justify-content: flex-end;

      button {
        font-size: 12px;
      }
    }
  }
}
